.form-message {
	--color: black;
	border: 1px solid var(--color);
	border-radius: 5px;
	padding: 10px;

	&--error {
		--color: #ff4136;
	}

	&--success {
		--color: #2ecc40;
	}
}

.form__error {
	color: #ff4136;
}
